EXPO_PUBLIC_SUPABASE_URL=https://jfjgkzzezzhlqrfbffyg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_y9ehzjnQbfWvghEUA-M47A_IJUHIqYK

# usar só no Supabase Functions secrets, nunca no app:
MERCADOPAGO_ACCESS_TOKEN=APP_USR-1578743604556594-042015-c1ff1c04ac5731958e88f60d68c6aa84-286655387
MERCADOPAGO_WEBHOOK_TOKEN=brazllet_webhook_7f9k2m1x_2026